@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-size: 12px;
    font-family: "微软雅黑", "arial";
    color:  #262626;
    background: #fff;
}
/*将超链接的下划线去掉以及在ie6中点击出现的虚线框去掉*/
a {
    text-decoration: none;
    outline: none;
    color: #262626;
    blr: expression(this.onFocus=this.blur());
}
img {

    border: none;

}
ul li,
ol li {
    list-style: none;
}

input,
textarea,
select,
button {
    font-size: 100%;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
}
/**/
.fl{
    float: left;
}
.fr{
    float: right;
}
/*head*/
.head{
    margin-top: 30px;
    min-width: 1160px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.head h1 img{
    width: 80%;
    display: block;
}

.head div p {

    margin-top: 20px;
}
.head div p a{

    color: #262626;
    padding: 0 10px;
    font-size: 14px;
}
.head div p a:nth-child(1){

    border-right: 1px solid #dbdbdb;

}

.head div form{

    width: 160px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    margin-top: 13px;
    border-bottom: 1px solid #262626;
}

.head div form input:nth-child(1)
{

    background: none;
    text-indent: 8px;
}
.head div form input:nth-child(2)
{
    float: right;
    width: 13%;
    padding-bottom: 10px;
    background: url("../images/ss.png") no-repeat right 5px;
    cursor: pointer;
}

.head div.btn{
    margin-top: 20px;
    position: relative;
}
.head div.btn a{
    float: left;
    margin: 0 10px;

}
/*头部二维码*/
.head div.btn p {
    display: none;
}
.head div.btn p a{
    width:74px;
    height: 74px;
    position: absolute;
    top: 30px;
    background: #fff;
    right: 10px;
    padding: 2px;
    z-index: 10;
    border: 1px solid #A10000;
}
.head div.btn p a img {
    width: 100%;
}
.head div.btn p a:before {
    position: absolute;
    top: -5px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid #A10000;
    border-left: 5px solid transparent;
}
.head ul{

    margin-left: 18%;
    line-height: 50px;
}
.head ul li{
    float: left;
    padding:0 20px;
}
.head ul li>a{
    color: #262626;
    font-size: 14px;
    display: inline-block;
    position: relative;
}
.head ul li>a:hover{
    color: #A10000;
}
/*banner*/
.block_home_slider{
    position: relative;
    background-color: #ffffff;
    text-align: center;
    line-height: 0px;
    margin: 0px;
    min-width: 1160px;
}
.block_home_slider .slide{
    position: relative;
}
.flexslider {margin: 0; padding: 0;}
/* Hide the slides before the JS is loaded. Avoids image jumping */

/*thimg*/
.thImg{
    width: 880px;
    margin: 0 auto;
    position: relative;
    height: 310px;

}
.thImg div{
    position: absolute;
    padding:15px;
    top: -50px;
    left: 0;
    background: url("../images/bg.jpg") #fff repeat-x bottom;
}
.thImg a{
    float: left;
    width: 260px;
    height:350px;
    margin-right: 15px;
    overflow: hidden;
}
.thImg a:last-child{
    margin-right: 0;
}
.thImg a img{
    display: block;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.thImg a:hover img{
    transform: scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1) ;
}
/*news*/
.news,.people{
    margin-top: 50px;
}
.news h2 img,.people h2 img{
    width: 70%;
    display: block;
    margin:0 auto 30px;
}
.news div.top a,.news div.bott a{
    display: block;
    position: relative;
}
.news div.top a p,.news div.bott a p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;

}
.news div.top a:hover p,.news div.bott a:hover p{
    opacity: 0.3;
}
.news div.top a,.news div.bott a{
    float: left;
}

.news div.top,.news div.bott {
    margin-bottom: 35px;
}
.news div.top a:nth-child(2),.news div.bott a:nth-child(2){

    margin: 0 35px;
}
.news .top img{
    display: block;
}
.news .flower{

    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #777;
}
.news .flower a{
    display: block;
}
.news .flower dl dd span{
    display: inline-block;
    padding: 10px;
    color: #a10000;
    border: 1px solid #bababa;
    font-size:16px;
    font-weight: bold;
    background: #fff;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}
.news .flower dl dd span:hover{
    background: #A10000;
    color: #fff;
    transform: translate(1.1,1.1);
    border: 1px solid #A10000;
}
.news .flower dl dd:nth-child(2){
    margin: 22px 0;
}
.news .flower dl dd:nth-child(3){
    margin-bottom: 50px;
}
.tran dl dt img{
    display: block;
}
.tran dl dt{
    position: relative;
    overflow: hidden;
}
.tran dl dt span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #90d7ec;
    opacity: 0.2;
}
.tran dl dt span.abl{
    left: -100%;
    top: -100%;
}
.tran dl dt span.abr{
    left: 100%;
    top: 100%;
}
.tran dl dt:hover span{
    left: 0;
    top: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
/*ad*/
a.ad{
    display: block;
}
a.ad img{
    width: 100%;
}
/*people*/

.people .plist{
    display: flex;
    justify-content: space-around;
    background-color: red;
}
.people .pList a{
    display: block;
    margin-bottom:20px;
    text-align: center;
}
.people .pList a:hover{
    box-shadow: 0 0 10px #757575;
}

.people .pList dl dd:nth-child(2){
    line-height: 25px;
}
.people .pList dl dd span{
    display: inline-block;
    color: #a10000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}