@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    font-size: 12px;
    font-family: "微软雅黑", "arial";
    color:  #262626;
    background: #fff;
}
/*将超链接的下划线去掉以及在ie6中点击出现的虚线框去掉*/
a {
    text-decoration: none;
    outline: none;
    color: #262626;
    blr: expression(this.onFocus=this.blur());
}
img {

    border: none;
}

input,
textarea,
select,
button {
    font-size: 100%;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
}
/**/
.fl{
    float: left;
}
.fr{
    float: right;
}
/*head*/
.head{
    margin-top: 30px;
    min-width: 1160px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.head h1 img{
    width: 80%;
    display: block;
}

.head div p {

    margin-top: 20px;
}
.head div p a{

    color: #262626;
    padding: 0 10px;
    font-size: 14px;
}
.head div p a:nth-child(1){

    border-right: 1px solid #dbdbdb;
}

.head div form{

    width: 160px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    margin-top: 13px;
    border-bottom: 1px solid #262626;
}

.head div form input:nth-child(1)
{

    background: none;
    text-indent: 8px;
}
.head div form input:nth-child(2)
{
    float: right;
    width: 13%;
    padding-bottom: 10px;
    background: url("../images/ss.png") no-repeat right 5px;
    cursor: pointer;
}

.head div.btn{
    margin-top: 20px;
    position: relative;
}
.head div.btn a{
    float: left;
    margin: 0 10px;
}